body {
  margin: 0;
  padding: 0;
  background: var(--main--background);
  min-height: 100vh;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
main {
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

textarea {
  height: var(--input--height);
}
