:root {
  --size: 1em;

  --main--background: linear-gradient(45deg, rgba(152, 56, 207, 0.5), rgba(207, 255, 255, 0.75));

  --card--background: white;
  --card--shadow: 0 10px 50px rgba(128, 128, 128, 0.4);
  --card--corner-radius: var(--size);
  --card--padding: var(--size);
  --card--width: calc(100vmin - (var(--size) * 6));

  --input--background: white;
  --input--corner-radius: var(--size);
  --input--padding-inline: var(--size);
  --input--margin-block: var(--size);
  --input--font-size: 1.2em;
  --input--border: none !important;
  --input--height: calc(var(--size) * 3);
}

.login {
  display: flex;
  flex-direction: column;
}
