{% extends 'base.html' %}

{% block title %}
{{ super() }}
Login
{% endblock %}

{% block styles %}
{{super()}}
<style>
    main {
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}

{% block main %}
<form action="" method="POST" class="card">
    <input type="text" id="name" name="name" placeholder="Name" />
    <input type="password" id="password" name="password"
        placeholder="Password" />
    <input type="submit" id="send-signup" name="signup"
        value="Sign Up / Sign in" />
</form>
{% endblock %}